body {
	margin-top: 90px;;
    padding: 0;
	
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}


.noAccount {
	color: white;
}


.heading {
	
}
.signup {
	position:fixed;
     top:30px; 
	 right:30px;
	 width: 120px;
	 height: 50px;
     background: black;
     color: white;
     font-size: 17px;
     border: 1p solid black;
     border-radius: 10px;
}

.errorMsg1 {
	display: none;
	color: red;
	font-size: 14px;
}

button {
     
     position:fixed;
     top:3%; 
	 right:30px;
	 width: 120px;
	 height: 50px;
     background: black;
     color: white;
     font-size: 20px;
     border: 1p solid black;
     border-radius: 10px;
	 
}


.logo {
    
	position:fixed;
	 top:30px; 
	 left:30px;
	 width: 80px;
	 height: 80px;
     border: 1px solid black;
     border-radius: 50px;  
    position: absolute;
    margin:0 auto;
    width: 100px;
    top:10px;	 

}
.login {
	
	margin-top: 180px;
	width: 320px;
	Height: 420px;
	background:#000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

 h1 {
    padding-bottom: 10px;
	margin: 0;
	padding: 2 2 20;
	text-align: center;
	font-size: 22px;
	margin: -.5em;
} 

.login p {

	margin: 0;
	padding: 0;
	font-weight: bold;
} 

.login input {

	width: 100%;
	margin-bottom: 20px;
	font-size: 20px;
}

.login input[type="text"], input[type="password"]

{
	border: none;
	border-bottom:1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;
}

.description {
	width: 100%;
	padding-top: 10px;
    content-align: center;
	text-align: center;
	border-radius: 10px;
	
	margin-right: auto;
	margin-left: auto;
	color: white;
	padding-bottom: 5%;
	
	
} 

.description p {
	margin: -.6em;
	font-size: 17px;
}

.active {
	background-color: black;
	color: white;
}


@media only screen and (max-width: 480px) {
    body, .logo, .description p {
         width:auto;
        margin-left:10%; 
        margin-right:10%; 
		
    }
   
}